body{
    width: 60%;
    margin: auto;
    font-family: Verdana, Arial, sans-serif;
}

h1, h3{
    text-align: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li{
    display: inline-block;
    padding: 14px 16px;
    justify-content: center;
}

.grumpyCat img{
    float: left;
    width: 100%;
    margin-right: 50%;
}